<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="http://payment-stage.allpay.com.tw/Cashier/AioCheckOut" method="post">
    <% @params.each do |k, v| %>
      <input type="text" name="<%= k %>" value="<%= v %>">
    <% end %>
    <input type="submit">
  </form>
</body>
</html>